@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
body {
    font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
button, html, input, select, textarea {
    font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
a {
    cursor: pointer;
}

.image-preview {
    width: 88px;
    height: 88px;
    margin: 10px 0;
    cursor:pointer;
}

.uib-typeahead-match {
    padding: 5px;
}

.uib-typeahead-match a {
    color: #333;
}

p.error {
    color: red;
}